{% extends 'base.html.twig' %}

{% block title %}Fourcount index{% endblock %}

{% block body %}
    <h1>Fourcount index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Currency</th>
                <th>Description</th>
                <th>Created by</th>
                <th>Participants</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fourcount in fourcounts %}
            <tr>
                <td>{{ fourcount.id }}</td>
                <td>{{ fourcount.title }}</td>
                <td>{{ fourcount.currency }}</td>
                <td>{{ fourcount.description }}</td>
                <td>{{ fourcount.createdby }}</td>
                <td>
                    {% for participant in fourcount.participants %}
                        {{participant}}                    
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('fourcount_show', {'id': fourcount.id}) }}">show</a>
                    <a href="{{ path('fourcount_edit', {'id': fourcount.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('fourcount_new') }}">Create new</a>
{% endblock %}
