{% extends 'base.html.twig' %}

{% block title %}Fourcount{% endblock %}

{% block body %}
    <a href="{{ path('home') }}"><h1>Fourcount</h1></a>
    <table class="table">
        <tbody>
            <tr>
                <th>Title</th>
                <td>{{ fourcount.title }}</td>
            </tr>
            <tr>
                <th>Currency</th>
                <td>{{ fourcount.currency }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ fourcount.description }}</td>
            </tr>
            <tr>
                <th>Participants</th>
                <td>
                {% for participant in fourcount.participants %}
                    {{ participant }}
                {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('expense_new', {'fourcountId': fourcount.id}) }}" class="btn btn-primary">Ajouter une dépense</a>

    <a href="{{ path('user_index', {'id': fourcount.id}) }}" style="margin:5px;">Ajouter des participants</a>

    <a href="{{ path('home') }}">back to list</a>

    <a href="{{ path('fourcount_edit', {'id': fourcount.id}) }}">edit</a>

    {{ include('fourcount/_delete_form.html.twig') }}
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Amount</th>
                <th>Description</th>
                <th>%</th>
                <th>Date</th>
                <th>Participants</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for expense in fourcount.expenses %}
            <tr>
                <td>{{ expense.title }}</td>
                <td>{{ expense.amount }} {{fourcount.currency}}</td>
                <td>{{ expense.description }}</td>
                <td>{{ expense.amount / expense.users|length }}</td>
                <td>{{ expense.date ? expense.date|date('Y-m-d') : '' }}</td>
                <td>{% for participant in expense.users %}
                    {{participant}}
                {% endfor %}</td>
                <td>
                    <a href="{{ path('expense_show', {'id': expense.id}) }}">show</a>
                    <a href="{{ path('expense_edit', {'id': expense.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Balance</h2>
{% endblock %}
